*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://i.pinimg.com/originals/e5/9c/82/e59c829455bd9cdc12930cb72c7253f3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    position: relative;
    max-width: 400px;    
    background-color: transparent;
    border: 1px solid rgba(156, 152, 152, 0.712);
    border-radius: 20px;
    backdrop-filter: blur(35px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
}
h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.inputbox {
    position: relative;
    margin:30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5 ease-in-out;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100px;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
.remember {
    margin: 35px 0;
    font-size: 0.9rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.remember label{
    display: flex;
    align-items: center;
}
.remember label input{
    margin-right: 3px;
}
.remember a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.remember a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255,255,255,1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease;
}
button:hover{
    background-color:rgba(223, 116, 17, 0.932)
}
.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #0e0e0e00;
    color: #aca8a881;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: -900px;
    margin-left: -280px;
    font-size: small;
   }
